---
import Layout from "../layouts/Layout.astro";
import MediaInput from "../components/MediaInput.astro";
---

<Layout title="Home">
  <h1>Welcome to Media Tracker</h1>
  <p>Track your favorite movies, TV shows, books, and more!</p>

  <h2>Add New Media</h2>
  <MediaInput />
</Layout>

<style>
  h1,
  h2 {
    color: #333;
    text-align: center;
  }

  p {
    margin-bottom: 2rem;
    text-align: center;
  }
</style>
