.menuButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1002;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  color: black;
  font-size: 1rem;

  &.open {
    opacity: 0;
  }
}
