.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.fullPageMenu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1001;
  transition: opacity 0.3s ease-out;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  &.fadeOut {
    opacity: 0;
  }
}

.fullPageMenu::backdrop {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease-out;
  background-color: transparent;
}

.fullPageMenu nav ul {
  padding: 0;
  list-style-type: none;
}

.fullPageMenu nav ul li {
  margin: 20px 0;
  text-align: center;
}

.fullPageMenu nav ul li a {
  opacity: 0.5;
  color: white;
  font-size: var(--font-size-fluid-2);
  text-decoration: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }

  &.clickedLink {
    opacity: 0.8;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  color: white;
  font-size: 24px;
  line-height: 1;
}

.closeButton:hover,
.closeButton:focus {
  opacity: 0.8;
}
