@import 'open-props/normalize';
@import 'open-props/style';

@layer base {
}

@layer theme {
  :root {
    --blur-strength: 10px;
  }

  body {
    background-color: var(--surface-1);
    font-family: var(--font-nunito-sans);
  }

  h1,
  h2,
  h3 {
    color: var(--gray-8);
    font-family: var(--font-nunito);

    @media (prefers-color-scheme: dark) {
      color: var(--gray-3);
    }
  }

  h1 {
    margin-bottom: var(--size-3);
    font-weight: var(--font-weight-9);
    font-size: var(--font-size-5);
  }

  h2 {
    margin-bottom: var(--size-2);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-4);
  }

  h3 {
    margin-bottom: var(--size-2);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-3);
  }

  p {
    font-family: var(--font-nunito-sans);
  }
}

@layer components {
  :root {
    --menu-height: var(--size-10);
  }
}

@layer utilities {
}

@layer styles {
  main {
    padding-top: var(--menu-height, 60px);
  }

  .sr-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    white-space: nowrap;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

::view-transition-old(root) {
  animation:
    300ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both blur;
}

::view-transition-new(root) {
  animation:
    300ms cubic-bezier(0, 0, 0.2, 1) 100ms both fade-in,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both blur reverse;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes blur {
  to {
    filter: blur(var(--blur-strength));
  }
}
