.square {
  background-color: #ccc;
  aspect-ratio: 1/1;
  border-radius: 10px;
  transition: 0.3s ease-out;

  &:hover {
    background-color: #fff;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;

  &:nth-child(2n) {
    & > :nth-child(2n) {
      background-color: #444;
    }
  }

  &:nth-child(2n + 1) {
    & > :nth-child(2n + 1) {
      background-color: #444;
    }
  }
}

.main {
  display: grid;
  aspect-ratio: 1/1;
  padding: 20px;
  place-content: center;

  & > * {
    background-color: #000;
    grid-column: span 1;
    padding: 10%;
    width: 75vw;
    aspect-ratio: 1/1;
    border-radius: 20px;
  }
}

.active {
  transform: scale(0.5);
}
