/* src/components/film-showcase.module.css */
.showcase {
  padding: var(--size-8) 0;
}

.film {
  margin-bottom: var(--size-8);
  color: inherit;
  text-decoration: none;
}

.filmInfo {
  margin-bottom: var(--size-4);
}

.stillsGrid {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}
