.showcase {
  padding: var(--size-12);
}

.film {
  margin-bottom: var(--size-8);
  color: inherit;
  text-decoration: none;
}

.filmInfo {
  margin-bottom: var(--size-4);
}

.stillsGrid {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
}
