.showcase {
  display: flex;
  row-gap: var(--size-12);
  flex-direction: column;
  padding: var(--size-12);
  width: 100%;
  min-height: 100dvw;
}

.film {
  display: block;
  height: 100dvw;
}

.stillsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-6);
  width: 100%;
}

.gridCell {
  position: relative;
  aspect-ratio: 16/9;
}
