:global(:root) {
  --menu-height: var(--size-9);
}

.menu {
  display: flex;

  position: sticky;
  top: 0px;
  justify-content: space-between;
  background-color: var(--gray-4);
  padding: 0 var(--menu-height);
  width: 100lvw;
  height: var(--menu-height);

  @media screen and (max-width: 768px) {
    --menu-height: var(--size-8);
    padding: 0 calc(var(--menu-height) * 0.25);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--gray-8);
  }
}

.menu-children {
  font-size: var(--font-size-xl);
  line-height: var(--menu-height);
  font-family: var(--font-lora);
}

.menu-title {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
