@import "open-props/normalize";
@import "open-props/style";

@layer base {
}

@layer theme {
  h1 {
    margin-bottom: var(--size-3);
    color: var(--gray-9);
    font-weight: var(--font-weight-9);
    font-size: var(--font-size-5);
  }

  h2 {
    margin-bottom: var(--size-2);
    color: var(--gray-8);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-4);
  }

  h3 {
    margin-bottom: var(--size-2);
    color: var(--gray-7);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-3);
  }
}

@layer components {
  :root {
    --menu-height: var(--size-10);
  }
}

@layer utilities {
}

@layer styles {
  body {
    height: 200lvh;
  }
  main {
    padding-top: var(--menu-height, 60px);
  }
}
