---
import MainLayout from "../layouts/main-layout.astro";
import Hero from "../components/homepage/hero.astro";
import TestingMarkdown from "../content/primary/testing-markdown.mdx";
---

<MainLayout title="Welcome to alicealexandra.com.">
  <main>
    <Hero />
    <TestingMarkdown />
  </main>
</MainLayout>
