.footer {
  display: flex;
  justify-content: center;
  background-color: var(--surface-2);
  padding: min(var(--size-10), 20vw) min(var(--size-10), 5vw);
  color: var(--text-2);
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-8);
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.footerSubGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-4);

  @media (min-width: 768px) {
    display: contents;
  }
}

.footerCopyright,
.footerNav,
.footerSocial {
  display: flex;
}

.footerCopyright,
.footerNav,
.footerSocial {
  flex-direction: column;
  gap: var(--size-3);
}

.footerNav a,
.footerSocial a,
.footerCopyright a {
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
  color: var(--text-2);
  text-decoration: none;
}

.footerNav a:hover,
.footerSocial a:hover,
.footerCopyright a:hover {
  color: var(--text-1);
  font-weight: var(--font-weight-5);
}
