.header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 1;
  z-index: var(--layer-2);
  animation: none;
  margin-top: var(--size-8);
  background-color: transparent;
  padding: var(--size-2) var(--size-8);

  @media screen and (max-width: 768px) {
    padding: var(--size-2) var(--size-2);
  }
}

.header.scrolled {
  position: fixed;
  flex-direction: row;
  transform: translateY(0);
  opacity: 1;
  animation: none;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  margin-top: 0;
  box-shadow: var(--shadow-1);
  background-color: hsla(0, 0%, 100%, 0.7);

  @media screen and (max-width: 768px) {
    padding: var(--size-2) var(--size-4);
  }
}

.logo {
  transform: scaleX(-1);
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 40px;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.logo.visible {
  opacity: 1;
  pointer-events: auto;
}

.logoBig {
  position: relative;
  left: var(--size-6);
  margin-bottom: calc(var(--size-4) * -1);
  width: 400px;
  height: auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  transition: font-size 0s;
  margin: 0;
  max-inline-size: 100%;
  color: hsl(0, 0%, 30%);
  font-weight: 400;
  font-size: calc(var(--font-size-fluid-3) * 1.8);
  font-family: var(--font-nunito);
  text-align: center;
}

.subtitle {
  display: block;
  font-weight: 300;
  font-size: var(--font-size-fluid-1);
  font-family: var(--font-nunito-sans);
  letter-spacing: calc(var(--font-letterspacing-4) * 1.8);
}

.titleSmall {
  color: var(--gray-10);
  font-size: var(--font-size-2);

  @media screen and (max-width: 768px) {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
  }
}
