.homeClientContainer {
  --initial-outer-scale: 0.6;
  --initial-inner-scale: 1.2;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 200vh; /* Create scrollable space */
}

.reelContainer {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.reelContent {
  transform: scale(var(--initial-outer-scale));
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reelInner {
  transform: scale(var(--initial-inner-scale));
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  width: 100%;
  height: 100%;
}
