body {
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

form {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

legend {
  color: #333;
  font-weight: bold;
}

form div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  padding: 10px 15px;
  color: #fff;
}

#mealPlanDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.day-plan,
.weekly-items {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
}

.meal,
.weekly {
  color: #0066cc;
  font-weight: bold;
}
